<div class="uk-section uk-padding-remove-vertical">
    <div data-uk-slider="center: true">
        <div class="uk-slider-container">
            <ul class="uk-slider-items uk-child-width-1-1">
                <li>
                    <div class="uk-cover-container uk-panel" data-uk-height-viewport="offset-top: true">
                        <img src="/public/build/images/strand_01.jpg" data-uk-cover alt="">
                        <div class="uk-position-center uk-text-center">
                            <h2 data-uk-slider-parallax="x: 100,-100">Heading</h2>
                            <p data-uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </li>
                <li class="uk-cover-container">
                    <div class="uk-cover-container uk-panel" data-uk-height-viewport="offset-top: true">
                        <img src="/public/build/images/strand_02.jpg" data-uk-cover alt="">
                        <div class="uk-position-center uk-text-center">
                            <h2 data-uk-slider-parallax="x: 100,-100">Heading</h2>
                            <p data-uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </li>
                <li class="uk-cover-container">
                    <div class="uk-cover-container uk-panel" data-uk-height-viewport="offset-top: true">
                        <img src="/public/build/images/strand_03.jpg" data-uk-cover alt="">
                        <div class="uk-position-center uk-text-center">
                            <h2 data-uk-slider-parallax="x: 100,-100">Heading</h2>
                            <p data-uk-slider-parallax="x: 200,-200">Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </li>
            </ul>
            <a href="#" class="uk-position-center-left uk-position-small" uk-slider-item="previous">
                <span data-uk-icon="chevron-left"></span>
            </a>
            <a href="#" class="uk-position-center-right uk-position-small" uk-slider-item="next">
                <span data-uk-icon="chevron-right"></span>
            </a>
        </div>
    </div>
</div>