<div id="off-canvas" data-uk-offcanvas="overlay: true; flip: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <li>
                <a href="#">Link 1</a>
            </li>
        </ul>

    </div>
</div>